body{
font-family: Arial;
margin: 0;
padding: 0;
background: #f4f4f4;
}

header{
background:#222;
color:white;
text-align:center;
padding:40px;
}

section{
padding:40px;
margin:auto;
max-width:900px;
}

h2{
color:#333;
border-bottom:2px solid #ddd;
}

.project{
background:white;
padding:20px;
margin-top:20px;
border-radius:8px;
}
